@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%; 
    font-family: Kanit, sans-serif;
    white-space: pre-wrap;
    background-color: #0E0E0E;
    color: white;
}

.BeforeCrypto, .AfterCrypto{
    margin: 100px;
}

mark:nth-child(odd){
    background: none;
    color: rgb(95, 196, 206);
}

mark:nth-child(even){
    background: none;
    color: rgb(149, 108, 247);
}

*{
    text-align: center;
}

button{
    width: 250px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid rgb(95, 196, 206);
    font-size: 20px;
    color: rgb(95, 196, 206);
    background: none;
    transition: 1s background-color, color;
}

button:hover{
    transition: 1s background-color, color;
    background-color: rgb(95, 196, 206);
    color: white;
}