@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

p, a, li{
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3{
  font-family: 'Anton', sans-serif;
}

h1{
  font-size: 3em;
}

h2{
  font-size: 2.5em;
}

h3{
  font-size: 1.8em;
}

p{
  font-size: 1.5em;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #0E0E0E;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}