*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    background-color: #F0F0C6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 1000vh;
}

canvas{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: 1s all;
}

h1{
    position: fixed;
    display: flex;
    justify-content: center;
    mix-blend-mode: difference;
    color: aliceblue;
    font-size: 10vw;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    z-index: 10;
}